# Default values for hub-agent.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: ghcr.io/azure/fleet/hub-agent
  pullPolicy: Always
  # Overrides the image tag whose default is the chart appVersion.
  tag: main

logVerbosity: 5

enableWebhook: true
webhookServiceName: fleetwebhook
enableGuardRail: true
webhookClientConnectionType: service
forceDeleteWaitTime: 15m0s
clusterUnhealthyThreshold: 3m0s
resourceSnapshotCreationMinimumInterval: 30s
resourceChangesCollectionDuration: 15s

namespace:
  fleet-system

resources:
  limits:
    cpu: 500m
    memory: 1Gi
  requests:
    cpu: 100m
    memory: 128Mi

tolerations: []

affinity: {}

enableV1Beta1APIs: true
enableClusterInventoryAPI: true
enableStagedUpdateRunAPIs: true
enableEvictionAPIs: true

enablePprof: true
pprofPort: 6065

hubAPIQPS: 250
hubAPIBurst: 1000
MaxConcurrentClusterPlacement: 100
ConcurrentResourceChangeSyncs: 20
MaxFleetSizeSupported: 100
