# Default values for hub-agent.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: ghcr.io/azure/fleet/hub-agent
  pullPolicy: Always
  # Overrides the image tag whose default is the chart appVersion.
  tag: main

logVerbosity: 5

webhookServiceName: fleetwebhook
enableGuardRail: true
webhookClientConnectionType: service

namespace:
  fleet-system

resources:
  limits:
    cpu: 500m
    memory: 1Gi
  requests:
    cpu: 100m
    memory: 128Mi

tolerations: []

affinity: {}

enableV1Alpha1APIs: false
enableV1Beta1APIs: true

hubAPIQPS: 250
hubAPIBurst: 1000
MaxConcurrentClusterPlacement: 100
ConcurrentResourceChangeSyncs: 20
logFileMaxSize: 1000000
MaxFleetSizeSupported: 100
