# Default values for hub-agent.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

image:
  repository: ghcr.io/azure/fleet/hub-agent
  pullPolicy: Always
  # Overrides the image tag whose default is the chart appVersion.
  tag: main

logVerbosity: 5

enableWebhook: true
webhookServiceName: fleetwebhook
enableGuardRail: true
webhookClientConnectionType: service

namespace:
  fleet-system

resources:
  limits:
    cpu: 500m
    memory: 1Gi
  requests:
    cpu: 100m
    memory: 128Mi

tolerations: []

affinity: {}

enableV1Alpha1APIs: true
enableV1Beta1APIs: false

hubAPIQPS: 20
hubAPIBurst: 100
concurrentClusterPlacementSyncs: 1
ConcurrentResourceChangeSyncs: 20
logFileMaxSize: 1800
MaxFleetSizeSupported: 100
