apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: guestbook-app
  namespace: guestbook # the application is created in guestbook namespace
spec:
  destination:
    namespace: guestbook # the target manifests will be deployed in guestbook namespace
    server: https://kubernetes.default.svc
  project: guestbook-project
  source:
    path: docs/demos/ArgoCD/manifests/guestbook # manifest path
    repoURL: https://github.com/ryanzhang-oss/fleet.git # source repo
    targetRevision: argocd-demo # source branch
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - PruneLast=true
    - PrunePropagationPolicy=foreground
    - CreateNamespace=true
    - ApplyOutOfSyncOnly=true
