replicaCount: 1

image:
  repository: ghcr.io/azure/fleet/member-agent
  pullPolicy: Always
  tag: main

logVerbosity: 5

refreshtoken:
  repository: ghcr.io/azure/fleet/refresh-token
  pullPolicy: Always
  tag: main

resources:
  limits:
    cpu: 500m
    memory: 1Gi
  requests:
    cpu: 100m
    memory: 128Mi

tolerations: []

affinity: {}

namespace: 
  fleet-system

config:
  provider: secret
  hubURL : https://<hub_cluster_api_server_ip>:<hub_cluster_port>
  memberClusterName: membercluster-sample
  hubCA: <certificate-authority-data>
  identityKey: "identity-key-path"
  identityCert: "identity-cert-path"
  CABundle: "ca-bundle-path"
  azureCloudConfig:
    cloud: ""
    tenantId: ""
    subscriptionId: ""
    useManagedIdentityExtension: false
    userAssignedIdentityID: ""
    aadClientId: ""
    aadClientSecret: ""
    resourceGroup: ""
    userAgent: ""
    location: ""
    vnetName: ""
    vnetResourceGroup: ""

secret:
  name: "hub-kubeconfig-secret"
  namespace: "default"

azure:
  clientid: <member_cluster_clientID>

tlsClientInsecure: true #TODO should be false in the production
useCAAuth: false

enableV1Beta1APIs: true

enablePprof: true
pprofPort: 6065
hubPprofPort: 6066
