replicaCount: 1
image:
  repository: ghcr.io/azure/azure/fleet/member-agent
  pullPolicy: IfNotPresent
  tag: v0.1.0
serviceAccount:
  name: "member-agent-service-account"
resources:
  requests:
    cpu: 100m
    memory: 128Mi
  limits:
    cpu: "2"
    memory: 4Gi
tolerations: []
affinity: {}
namespace: "member-agent"
authenticationPreference: "ManagedIdentity"

