replicaCount: 1

image:
  repository: "RegistryLoginServer"/member-agent
  pullPolicy: Always
  tag: v0.1.0

logVerbosity: 3

refreshtoken:
  repository: "RegistryLoginServer"/refresh-token
  pullPolicy: Always
  tag: v0.1.0

resources:
  limits:
    cpu: 500m
    memory: 1Gi
  requests:
    cpu: 100m
    memory: 128Mi

tolerations: []

affinity: {}

namespace: 
  fleet-system

config:
  provider: secret
  hubURL : https://<hub_cluster_api_server_ip>:<hub_cluster_port>
  memberClusterName: membercluster-sample

secret:
  name: "hub-kubeconfig-secret"
  namespace: "default"

azure:
  clientid: <member_cluster_clientID>

tlsClientInsecure: true #TODO should be false in the production
