# We use a headless service for webhook assuming the apiserver's dns can resolve it.
apiVersion: v1
kind: Service
metadata:
  labels:
    {{- include "hub-agent.labels" . | nindent 4 }}      
  name: fleetwebhook
  namespace: {{ .Values.namespace }} 
spec:
  ipFamilies:
  - IPv4
  ipFamilyPolicy: SingleStack
  ports:
  - name: client
    port: 9443
    protocol: TCP
    targetPort: 9443
  selector:
    {{- include "hub-agent.selectorLabels" . | nindent 4 }}
  sessionAffinity: None
  type: ClusterIP
