apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "member-agent.fullname" . }}
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "member-agent.labels" . | nindent 4 }}
spec:
  selector:
    matchLabels:
      {{- include "member-agent.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "member-agent.selectorLabels" . | nindent 8 }}
    spec:
      restartPolicy: Always
      serviceAccountName: {{ include "member-agent.fullname" . }}-sa
      containers:
        - name: {{ include "member-agent.fullname" . }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: 80
          args:
            - --leader-elect=true
            - --tls-insecure={{ .Values.tlsClientInsecure }}
            - --v={{ .Values.logVerbosity }}
            - -add_dir_header
          env:
          - name: HUB_SERVER_URL
            value: "{{ .Values.config.hubURL }}"
          - name: CONFIG_PATH
            value: "/config/token"
          - name: MEMBER_CLUSTER_NAME
            value: "{{ .Values.config.memberClusterName }}"
          - name: HUB_CERTIFICATE_AUTHORITY
            value: "{{ .Values.config.hubCA }}"
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          ports:
            - containerPort: 8080
              name: hubmetrics
              protocol: TCP
            - containerPort: 8081
              name: hubhealthz
              protocol: TCP
            - containerPort: 8090
              name: membermetrics
              protocol: TCP
            - containerPort: 8091
              name: memberhealthz
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /healthz
              port: hubhealthz
          readinessProbe:
            httpGet:
              path: /readyz
              port: hubhealthz
          volumeMounts:
          - name: provider-token 
            mountPath: /config
        - name: refresh-token
          image: "{{ .Values.refreshtoken.repository }}:{{ .Values.refreshtoken.tag }}"
          imagePullPolicy: {{ .Values.refreshtoken.pullPolicy }}
          args:
            {{ $provider := .Values.config.provider }}
            - {{ $provider }}
            {{ range $key, $value := (index .Values $provider) }}
            - --{{ $key }}={{ $value }}
            {{ end }}
            - --v={{ .Values.logVerbosity }}
          ports:
            - name: http
              containerPort: 4000
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
          - name: provider-token
            mountPath: /config    
      volumes:
      - name: provider-token
        emptyDir: {}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
