---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.11.4
  name: resourceoverrides.placement.kubernetes-fleet.io
spec:
  group: placement.kubernetes-fleet.io
  names:
    categories:
    - fleet
    - fleet-placement
    kind: ResourceOverride
    listKind: ResourceOverrideList
    plural: resourceoverrides
    singular: resourceoverride
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: ResourceOverride defines a group of override policies about how
          to override the selected namespaced scope resources to target clusters.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: The desired state of ResourceOverrideSpec.
            properties:
              policy:
                description: Policy defines how to override the selected resources
                  on the target clusters.
                properties:
                  overrideRules:
                    description: OverrideRules defines an array of override rules
                      to be applied on the selected resources. The order of the rules
                      determines the override order. When there are two rules selecting
                      the same fields on the target cluster, the last one will win.
                      You can have 1-20 rules.
                    items:
                      description: OverrideRule defines how to override the selected
                        resources on the target clusters.
                      properties:
                        clusterSelector:
                          description: ClusterSelectors selects the target clusters.
                            The resources will be overridden before applying to the
                            matching clusters. If ClusterSelector is not set, it means
                            selecting ALL the member clusters.
                          properties:
                            clusterSelectorTerms:
                              description: ClusterSelectorTerms is a list of cluster
                                selector terms. The terms are `ORed`.
                              items:
                                properties:
                                  labelSelector:
                                    description: "LabelSelector is a label query over
                                      all the joined member clusters. Clusters matching
                                      the query are selected. \n If you specify both
                                      label and metric selectors in the same term,
                                      the results are AND'd."
                                    properties:
                                      matchExpressions:
                                        description: matchExpressions is a list of
                                          label selector requirements. The requirements
                                          are ANDed.
                                        items:
                                          description: A label selector requirement
                                            is a selector that contains values, a
                                            key, and an operator that relates the
                                            key and values.
                                          properties:
                                            key:
                                              description: key is the label key that
                                                the selector applies to.
                                              type: string
                                            operator:
                                              description: operator represents a key's
                                                relationship to a set of values. Valid
                                                operators are In, NotIn, Exists and
                                                DoesNotExist.
                                              type: string
                                            values:
                                              description: values is an array of string
                                                values. If the operator is In or NotIn,
                                                the values array must be non-empty.
                                                If the operator is Exists or DoesNotExist,
                                                the values array must be empty. This
                                                array is replaced during a strategic
                                                merge patch.
                                              items:
                                                type: string
                                              type: array
                                          required:
                                          - key
                                          - operator
                                          type: object
                                        type: array
                                      matchLabels:
                                        additionalProperties:
                                          type: string
                                        description: matchLabels is a map of {key,value}
                                          pairs. A single {key,value} in the matchLabels
                                          map is equivalent to an element of matchExpressions,
                                          whose key field is "key", the operator is
                                          "In", and the values array contains only
                                          "value". The requirements are ANDed.
                                        type: object
                                    type: object
                                    x-kubernetes-map-type: atomic
                                  metricSelector:
                                    description: "MetricSelector is a metric query
                                      over all joined member clusters. Clusters matching
                                      the query are selected. \n If you specify both
                                      label and metric selectors in the same term,
                                      the results are AND'd. \n At this moment, MetricSelector
                                      can only be used with `RequiredDuringSchedulingIgnoredDuringExecution`
                                      affinity terms."
                                    properties:
                                      matchMetrics:
                                        description: MatchExpressions is an array
                                          of MetricSelectorRequirements. The requirements
                                          are AND'd.
                                        items:
                                          description: MetricSelectorRequirement is
                                            a specific metric requirement when picking
                                            clusters for resource placement.
                                          properties:
                                            name:
                                              description: Name is the name of the
                                                metric; it should be a Kubernetes
                                                label name.
                                              type: string
                                            operator:
                                              description: Operator specifies the
                                                relationship between a cluster's observed
                                                value of the specified metric and
                                                the values given in the requirement.
                                              type: string
                                            values:
                                              description: "Values are a list of values
                                                of the specified metric which Fleet
                                                will compare against the observed
                                                values of individual member clusters
                                                in accordance with the given operator.
                                                \n If the operator is Gt (greater
                                                than), Ge (greater than or equal to),
                                                Lt (less than), or `Le` (less than
                                                or equal to), Eq (equal to), or Ne
                                                (ne), exactly one value must be specified
                                                in the list."
                                              items:
                                                type: string
                                              type: array
                                          required:
                                          - name
                                          - operator
                                          - values
                                          type: object
                                        type: array
                                    type: object
                                  metricSorter:
                                    description: "MetricSorter sorts all matching
                                      clusters by a specific metric and assigns different
                                      weights to each cluster based on their observed
                                      metric values. \n At this moment, MetricSorter
                                      can only be used with `PreferredDuringSchedulingIgnoredDuringExecution`
                                      affinity terms."
                                    properties:
                                      sortByMetric:
                                        description: SortByMetric is an array of MetricSortPreference.
                                          At most one sort preference can be specified
                                          in each term.
                                        properties:
                                          name:
                                            description: Name is the name of the metric
                                              which Fleet sorts clusters by.
                                            type: string
                                          sortOrder:
                                            description: Prefer explains how Fleet
                                              should perform the sort; specifically,
                                              whether Fleet should sort in ascending
                                              or descending order.
                                            type: string
                                        required:
                                        - name
                                        - sortOrder
                                        type: object
                                    type: object
                                type: object
                              maxItems: 10
                              type: array
                          required:
                          - clusterSelectorTerms
                          type: object
                        jsonPatchOverrides:
                          description: JSONPatchOverrides defines a list of JSON patch
                            override rules.
                          items:
                            description: JSONPatchOverride applies a JSON patch on
                              the selected resources following [RFC 6902](https://datatracker.ietf.org/doc/html/rfc6902).
                            properties:
                              operator:
                                description: Operator defines the operation on the
                                  target field.
                                enum:
                                - Add
                                - Remove
                                - Replace
                                type: string
                              path:
                                description: 'Path defines the target location. Note:
                                  override will fail if the resource path does not
                                  exist.'
                                type: string
                              value:
                                description: Value defines the content to be applied
                                  on the target location. Value should be empty when
                                  operator is Remove.
                                type: string
                            required:
                            - operator
                            - path
                            type: object
                          maxItems: 20
                          minItems: 1
                          type: array
                      required:
                      - jsonPatchOverrides
                      type: object
                    maxItems: 20
                    minItems: 1
                    type: array
                required:
                - overrideRules
                type: object
              resourceSelectors:
                description: ResourceSelectors is an array of selectors used to select
                  namespace scoped resources. The selectors are `ORed`. You can have
                  1-20 selectors.
                items:
                  description: ResourceSelector is used to select namespace scoped
                    resources as the target resources to be placed. All the fields
                    are `ANDed`. In other words, a resource must match all the fields
                    to be selected. The resource namespace will inherit from the parent
                    object scope.
                  properties:
                    group:
                      description: Group name of the namespace-scoped resource. Use
                        an empty string to select resources under the core API group
                        (e.g., services).
                      type: string
                    kind:
                      description: Kind of the namespace-scoped resource.
                      type: string
                    name:
                      description: Name of the namespace-scoped resource.
                      type: string
                    version:
                      description: Version of the namespace-scoped resource.
                      type: string
                  required:
                  - group
                  - kind
                  - name
                  - version
                  type: object
                maxItems: 20
                minItems: 1
                type: array
            required:
            - policy
            - resourceSelectors
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
