name: publish_images

on: 
  push:
    branches:
      - main
  pull_request:
    branches:
    - main

  create:
     # Publish semver tags as releases.
    tags: [ 'v*.*.*' ]

permissions:
  contents: read
  packages: write

env:
 REGISTRY: ghcr.io
 HUB_AGENT_IMAGE_NAME : hub-agent
 HUB_AGENT_IMAGE_VERSION: v0.1.0
 MEMBER_AGENT_IMAGE_NAME: member-agent
 MEMBER_AGENT_IMAGE_VERSION: v0.1.0

jobs:
  export-registry:
    runs-on: ubuntu-20.04
    outputs:
      registry: ${{ steps.export.outputs.registry }}
    steps:
      - id: export
        run: |
          # registry must be in lowercase
          echo "::set-output name=registry::$(echo "${{ env.REGISTRY }}/${{ github.repository }}" | tr [:upper:] [:lower:])"
  publish-images:
    needs: export-registry
    env:
      REGISTRY: ${{ needs.export-registry.outputs.registry }}
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
          fetch-depth: 0
      - name: Login to ${{ env.REGISTRY }}
        uses: docker/login-action@f054a8b539a109f9f41c372932f1ae047eff08c9
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build ${{ env.HUB_AGENT_IMAGE_NAME}}
        run: |
          make docker-build-hub-agent
        env:
          HUB_AGENT_IMAGE_NAME: ${{ env.HUB_AGENT_IMAGE_NAME}}
          HUB_AGENT_IMAGE_VERSION: ${{ env.HUB_AGENT_IMAGE_VERSION }}
      - name: Build ${{ env.MEMBER_AGENT_IMAGE_NAME}}
        run: |
          make docker-build-member-agent
        env:
          MEMBER_AGENT_IMAGE_NAME: ${{ env.MEMBER_AGENT_IMAGE_NAME}}
          MEMBER_AGENT_IMAGE_VERSION: ${{ env.MEMBER_AGENT_IMAGE_VERSION }}
